* @timescale/o11y-eng

# sql related stuff
*.sql @jgpruitt

/cmd/prom-migrator @Harkishen-Singh

# Go deps
go.mod @antekresic
go.sum @antekresic

# Go packages
/pkg @niksajakovljevic
/pkg/api @antekresic @Harkishen-Singh
/pkg/ewma @Harkishen-Singh
/pkg/ha @antekresic
/pkg/internal @antekresic
/pkg/migrations/ @jgpruitt
/pkg/migration-tool @Harkishen-Singh
/pkg/pgmodel/ingestor @niksajakovljevic @antekresic @Harkishen-Singh
/pkg/pgmodel/querier @JamesGuthrie
/pkg/promql @Harkishen-Singh
/pkg/runner @antekresic
/pkg/telemetry @Harkishen-Singh
/pkg/tenancy @Harkishen-Singh
/pkg/tests/test_migrations/ @jgpruitt
/pkg/tests/testdata/ @jgpruitt
/pkg/tests/upgrade_tests/ @jgpruitt

# helm and kubernetes related parts
/deploy @cevian @VineethReddy02 @paulfantom @JamesGuthrie
