* @timescale/o11y-applications

# sql related stuff
*.sql @timescale/o11y-data-platform

# Go deps
go.mod @timescale/o11y-applications
go.sum @timescale/o11y-applications

# CI system and repository configuration
.github/ @timescale/o11y-applications
.github/workflows/mixin.yml @timescale/o11y-services

# Go packages
/pkg/api @antekresic @Harkishen-Singh
/pkg/migrations/ @timescale/o11y-data-platform
/pkg/migration-tool @timescale/o11y-applications
/pkg/pgmodel/querier @timescale/o11y-data-platform
/pkg/tests/test_migrations/ @timescale/o11y-data-platform
/pkg/tests/testdata/ @timescale/o11y-data-platform
/pkg/tests/upgrade_tests/ @timescale/o11y-data-platform

/docs/mixin @timescale/o11y-services
