* @timescale/o11y-applications

# sql related stuff
*.sql @timescale/o11y-data-platform

# Go deps
go.mod @antekresic @paulfantom
go.sum @antekresic @paulfantom

# CI system and repository configuration
.github/ @cevian @paulfantom

# Go packages
/pkg/api @antekresic @Harkishen-Singh
/pkg/migrations/ @timescale/o11y-data-platform
/pkg/migration-tool @timescale/o11y-applications
/pkg/pgmodel/querier @timescale/o11y-data-platform
/pkg/tests/test_migrations/ @timescale/o11y-data-platform
/pkg/tests/testdata/ @timescale/o11y-data-platform
/pkg/tests/upgrade_tests/ @timescale/o11y-data-platform

/docs/mixin @paulfantom @onprem

# helm and kubernetes related parts
/deploy @cevian @paulfantom @onprem @JamesGuthrie

shell.nix @JamesGuthrie
