*~
/promscale*
/prom-migrator*
/cmd/promscale/promscale
/cmd/prom-migrator/prom-migrator
/cmd/jaeger-query-proxy/jaeger-query-proxy
/dist
/vendor
/version.properties
/.target_os
/.history
/.vscode
/.idea
.DS_Store
.git
venv
