version: '3.0'

services:
  db:
    # TODO (james): replace this when Promscale extension 0.7.0 published
    image: ghcr.io/timescale/dev_promscale_extension:jg-time-based-epoch-ts2-pg14
    ports:
      - 5432:5432/tcp
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      TSTUNE_PROFILE: promscale

  prometheus:
    image: prom/prometheus:latest
    depends_on:
     - promscale
    ports:
      - 9090:9090/tcp
    volumes:
      - ${PWD}/prometheus.yml:/etc/prometheus/prometheus.yml

  alertmanager:
    image: prom/alertmanager:latest
    ports:
      - 9093:9093/tcp

  promscale:
    image: timescale/promscale:latest
    ports:
      - 9201:9201/tcp
      - 9202:9202/tcp
    restart: on-failure
    depends_on:
      - db
    volumes:
      - ${PWD}/promscale_prometheus.yml:/prometheus.yml
      - ${PWD}/rules.yml:/rules.yml
      - ${PWD}/alerts.yml:/alerts.yml
    environment:
      PROMSCALE_DB_URI: postgres://postgres:password@db:5432/postgres?sslmode=allow
      PROMSCALE_TRACING_OTLP_SERVER_ADDRESS: ":9202"
      PROMSCALE_TELEMETRY_TRACE_OTEL_ENDPOINT: "otel-collector:4317"
      PROMSCALE_TELEMETRY_TRACE_SAMPLING_RATIO: "0.1"
      PROMSCALE_METRICS_RULES_CONFIG_FILE: /prometheus.yml
      PROMSCALE_STARTUP_UPGRADE_PRERELEASE_EXTENSIONS: true

  otel-collector:
    platform: linux/amd64
    image: "otel/opentelemetry-collector:0.56.0"
    command: [ "--config=/etc/otel-collector-config.yml" ]
    volumes:
      - ./otel-collector-config.yml:/etc/otel-collector-config.yml
    ports:
      - "14268:14268" # jaeger http

  jaeger:
    image: jaegertracing/jaeger-query:1.37.0
    environment:
      SPAN_STORAGE_TYPE: grpc-plugin
    command: [
      "--grpc-storage.server=promscale:9202",
    ]
    ports:
      - "16686:16686"

  node_exporter:
    image: quay.io/prometheus/node-exporter
    ports:
      - "9100:9100"
