name: Docker Compose tests

on:
  push:
    branches: [master, main, force_test, release-*]
  pull_request:
    branches: [master, main, force_test, release-*]

jobs:

  build:
    name: Run
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.14
      uses: actions/setup-go@v2.1.4
      with:
        go-version: 1.14
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Test docker-compose setup referenced in docs
      run: ./docker-compose/test.sh
      shell: bash

    - name: Test high-availability docker-compose setup
      run: ./docker-compose/high-availability/test.sh
      shell: bash