name: mixin
on:
  push:
    paths:
    - 'docs/mixin/**'
  pull_request:
    paths:
    - 'docs/mixin/**'

env:
  golang-version: 1.19.2

defaults:
  run:
    working-directory: docs/mixin

jobs:
  check-mixin:
    runs-on: ubuntu-latest
    name: Check monitoring mixin
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go ${{ env.golang-version }}
      uses: actions/setup-go@v3.3.1
      with:
        go-version: ${{ env.golang-version }}
      id: go

    - uses: actions/setup-go@v3
      with:
        go-version: ${{ env.golang-version }}

    - name: download mixtool
      run: go install -a github.com/monitoring-mixins/mixtool/cmd/mixtool@latest

    - name: download jsonnetfmt
      run: go install -a github.com/google/go-jsonnet/cmd/jsonnetfmt@latest

    - name: download promtool
      run: |
        VERSION=$(curl -s https://api.github.com/repos/prometheus/prometheus/releases/latest | grep "tag_name" | awk '{print substr($2, 2, length($2)-3)}' | sed 's/v//')
        curl -s -L "https://github.com/prometheus/prometheus/releases/download/v${VERSION}/prometheus-${VERSION}.linux-amd64.tar.gz" | tar -zxf - -C "${GITHUB_WORKSPACE}/" --strip-components 1 "prometheus-${VERSION}.linux-amd64/promtool"

    - name: download gojsontoyaml
      run: go install github.com/brancz/gojsontoyaml@latest

    - name: lint
      run: make lint
      
    - name: fmt
      run: make fmt && git diff --exit-code

    - name: build
      run: make build

    - name: test alerts
      run: |
        PATH="${PATH}:${GITHUB_WORKSPACE}"
        make test
